@use 'abstracts/variables';

// Base
@use 'base/reset';
@use 'base/base';
@use 'base/typography';

// Layout
@use 'layout/grid';

// Components
@use 'components/navbar';
@use 'components/hero';
@use 'components/buttons';
@use 'components/wave';
@use 'components/programs';
@use 'components/registration';
@use 'components/about';
@use 'components/calendar';
@use 'components/sponsors';
@use 'components/referee';
@use 'components/contact';
@use 'components/modals';
@use 'components/footer';