@use '../abstracts/variables' as *;

.container {
    width: min(100% - 4rem, 1180px);
    margin-inline: auto;

    @media (max-width: $breakpoint-tablet) {
        width: min(100% - 3rem, 1180px);
    }

    @media (max-width: $breakpoint-mobile) {
        width: min(100% - 2rem, 1180px);
    }
}
