@use '../abstracts/variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-size: 1.1rem;
}

.section-title {
    text-align: center;
    color: $color-black;
    margin-bottom: 3rem;
    position: relative;
    text-decoration: none;

    * {
        text-decoration: none;
    }

    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 4px;
        background: linear-gradient(90deg, $color-black, $color-primary);
        margin: 1rem auto;
    }
}